[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mypy = "*"
cfn-lint = "*"
ruff = "*"
uvicorn = {extras = ["standard"], version = "*"}

[packages]
fastapi = "*"
pyjwt = "*"
sqlalchemy = "*"
pydantic = {version = "*", extras = ["email"]}

[requires]
python_version = "3.11"

[scripts]
main = "uvicorn app.main:app --host 0.0.0.0 --port 8080"
dev = "uvicorn main:app --reload"
test = "pytest -vvs"
type-check = "mypy . --ignore-missing-imports"
lint = "flake8 . --exclude ./.aws-sam/ --max-line-length=120 --ignore=E731,W503"
ruff = "ruff check ."
ruff-fix = "ruff check --fix ."
ruff-format = "ruff format ."