[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-lambda-typing = "*"
boto3 = "*"

[dev-packages]
pytest = "*"
mypy = "*"
ruff = "*"

[requires]
python_version = "3.11"

[scripts]
main = "python3 main.py"
test = "pytest -vvs"
lint = "flake8 . --exclude ./.aws-sam/ --max-line-length=120 --ignore=E731,W503"
ruff = "ruff check ."
ruff-fix = "ruff check --fix ."
ruff-format = "ruff format ."
